<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select topic</title>
</head>
<body>
    <center> 
        <form method="POST">
           {% csrf_token %}
           <label for="hospital">Hospital_Name</label>
           <select name="hospital" id="hospital">
               {% for i in  Hopitals %}
               <option value="{{i}}">{{i.Hospital_Name}}</option>
            
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="submit">
        </form>
    </center>
    
</body>
</html>

